/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

/* General styles*/

body{

  margin:0px;
}


#banner-img{
}


/*#canvas{
  width:1000px!important;
  height: 500px !important;
  background-color: rgba(0,0,0,0.5);
}
*/


.banner-languages img {
 width:50px;
 heigth:0px;
}

.terminal {
  width:400px;
  height:400px;
  background-image: url('images/Terminal.png');
  border-radius:4px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  display:flex;
  justify-content: center;
  position:relative;
  top:100px;
}

.fixing-script {
  position:relative;
  width:200px;
}


#banner-typed-text{
  font-size:12px;
  display: flex;
  position:absolute;
  left:73px;
  top:48px;


}


.typed-cursor {
  display:none;
}



.home-banner {
  position:absolute;
  background-image: url('https://source.unsplash.com/jU9VAZDGMzs/2000x1500');
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // filter: grayscale(40%);
  position:relative;
  bottom:80px;
  height:90vh;
  filter: gray;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(0,0,0, 0.8);
}


.card-about-me{
  margin:8px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.card-about-me > h1 {
  text-decoration: underline;
}

.avatar{
  height: 200px;
  border-radius:50%;
}

.img-strongpoints{
  display:flex;
}





/*Piramid roation logic*/

.pyramid-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    top:200px;
    left:0px;
    margin-left:-100px;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 100px;

}

.pyramid-rotate {
    position: relative;
    width: 200px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin 16s infinite linear;
}

.face {
    position: absolute;
    border: 100px solid transparent;
}

.face img{
 height: 100px;
 position:relative;
 top:150px;
}

.front {
    bottom: -25px;
    border-bottom: 200px solid black ;
    opacity: 1.0;
    -webkit-transform: translateZ(115px) rotateX(30deg) translateZ(-22px);
}

.back {
    bottom: -20px;
    border-bottom: 200px solid red;
    opacity:1.0;
    -webkit-transform: translateZ(-25px) rotateY(180deg) rotateX(30deg) translateZ(-30px);
}

.left {
    bottom: -20px;
    left: 75px;
    border-bottom: 200px solid yellow;
    opacity:1.0;
    -webkit-transform: rotateY(270deg) translateX(-100px) rotateX(30deg) translateZ(-30px);
    -webkit-transform-origin: center left;
}

.right {
    bottom: -90px;
    right: 150px;
    border-bottom: 200px solid green;
    opacity: 1.0;
    -webkit-transform: rotateY(-270deg) translateX(102px) rotateX(30deg) translateZ(55px);
    -webkit-transform-origin: top right;
}

.bottom {
    width: 102px;
    height: 102px;
    background: blue;
    opacity: 1.0;
    -webkit-transform: rotateX(-90deg) translateY(-200px) rotateY(180deg) translateZ(-7px);
  -webkit-transform-origin:top center;
}

/*
.shadow {


    width:0;
    height:0;
    box-shadow: 0 0 50px 100px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(90deg) translateZ(-200px) rotateY(180deg) translateX(-100px);

}*/

@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(360deg); }
}








