/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face{
  font-family: GameFont;
  src:url('Fonts/ServiceGamesOldskoolOutline-XG82.ttf');


}

/* General styles*/

body{
  background-color: #22181C;
  margin:0px;
  color:white;
}

#banner-img{
}



/*#canvas{
  width:1000px!important;
  height: 500px !important;
  background-color: rgba(0,0,0,0.5);
}
*/


.banner-languages img {
 width:50px;
 heigth:0px;
}


@media screen and (min-width:500px) {
  .terminal {
    width:400px;
    height:400px;
    background-image: url('images/Terminal.png');
    border-radius:4px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    display:flex;
    justify-content: center;
    position:relative;
    top:60px;
  }
}


.fixing-script {
  position:relative;
  width:200px;
}


#banner-typed-text{
  font-size:12px;
  display: flex;
  position:absolute;
  left:73px;
  top:48px;


}


.typed-cursor {
  display:none;
}



.home-banner {
  position:absolute;
  background-image: url('https://source.unsplash.com/p0j-mE6mGo4/2000x1500');
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // filter: grayscale(40%);
  position:relative;
  bottom:80px;
  height:90vh;
  filter: gray;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(0,0,0, 0.8);
}

@media screen and (max-width:500px) {
  .home-banner {
    height: 50vh;
  }
  #banner-typed-text{
  display:none;
  }
}


.card-section{
  margin:8px;
  margin-top:40px;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  /*font-family: 'Press Start 2P', cursive;*/
  /*font-family: 'Pangolin', cursive;*/
  font-family: 'Source Code Pro', monospace;
}


.avatar{
  height: 200px;
  border-radius:20px;
}

.img-strongpoints{
  display:flex;
  justify-content: center;
}

.centralized {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/*skills and keyboard style*/


/* higind the keyboard for now in every screen since is not pretty yet*/
.keyboard{
  display: none;

}


@media screen and (max-width:500px) {
  .keyboard {

    height: 500px
    width:300px;
  }
}



@media screen and (min-width:767px){
  .keyboard {

    border: 1px solid white;
    border-radius:4px;
    width: 807px;
  }
}

.skills{
  margin-top:300px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.skills-row{
  display: none;


}

.button-top {
display: none;
}

.button-top-left {
  display:none;
}

@media screen and (min-width:767px){

    .skills-row{
      display: flex;
      flex-direction: row;
    }

    .skills-row-1{
      position:relative;
      left:57px;
    }

    .skills-row-2{
      height: 53px;
      position: relative;
      right: -18px;
    }

    .skills-row-3 {
      height: 53px;
      position: relative;
      right: -19px;

    }

  .skill{
    margin:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:70px;
    padding:4px;
    border: 1px solid white;
    border-radius:4px;
    background-color: LightGray;
    color: black;
  }

  .enter-button {
    border: 1px solid gray;
  }

  .enter-button-box {
    height: 60px;
    border: 1px solid gray;
    border-radius: 4px;
    position: relative !important;
    bottom: 58px;
    right: 44px;
    width: 30px;
  }

  .space-button {
    width:240px;
  }

  .button-top {
    margin:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:70px;
    padding:4px;
    border: 1px solid white;
    border-radius:4px;
    background-color: LightGray;
    color: black;
    position:relative;
    left:690px;
  }

  .button-top-left{

      margin:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:70px;
    padding:4px;
    border: 1px solid white;
    border-radius:4px;
    background-color: LightGray;
    color: black;
    position:relative;
    right:-15px;
    top:33px;
  }

  .button-bigger {
    margin:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:70px;
    padding:4px;
    border: 1px solid white;
    border-radius:4px;
    background-color: LightGray;
    color: black;
  }
}

/*Card styles*/

.card-section > h1 {
  font-family: GameFont;
  padding-left:16px;
}



.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 17px;
  width: 453px;
  height: 550px;
}


@media screen and (max-width:600px){
  .card-trip {
    width:306px;
  }
}

.card-trip > video{
  height: 350px;
  width:100%;
}



.autotldr {
  -moz-transform:scale(1.8);
  -webkit-transform:scale(1.8);
  -o-transform:scale(1.8);
  -ms-transform:scale(1.8);
  transform:scale(1.8);
}



.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos i {
font-size:45px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top:33px;
  color:black;


}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards {
  margin-top:60px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* fixing manually each card*/

/* gin */

body > div:nth-child(4) > div.cards > div:nth-child(7) > div{
  position:relative;
  top:-140px;
}

@media (min-width: 600px) {
  body > div:nth-child(4) > div.cards > div:nth-child(7) > div > div{
    position:relative;
    top:57px;

  }
}

/* tldr card */

body > div:nth-child(4) > div.cards > div:nth-child(7) > video {
  position:relative;
  bottom: 50px;
}

body > div:nth-child(4) > div.cards > div:nth-child(7) > div{
  position: relative;
  bottom: 10px;
}
/* minesweeper*/

body > div:nth-child(4) > div.cards > div:nth-child(6) > div > div{
  position:relative;
  top: -22px;
}


/* local market*/


body > div:nth-child(4) > div.cards > div:nth-child(2) > div{
  postion:relative;
  top:73px;
}



.card-fixing-icons{
  display:flex;
  width: 100%;
}


/* fixing all the divs that are smaller then card-trip-info to make sure that wont mess the style*/
body > div:nth-child(4) > div.cards > div:nth-child(3) > div > div{
  width:100%;
}

body > div:nth-child(4) > div.cards > div:nth-child(2) > div > div{
  width:100%;
}

body > div:nth-child(4) > div.cards > div:nth-child(4) > div > div{
  width:100%;
}

body > div:nth-child(4) > div.cards > div:nth-child(5) > div > div{
  width:100%;
}

/* Github icon to the rigth*/
.card-fixing-icon-right{
  width:100%;
  display:flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}


/*Session of Piramid rotation logic*/

.pyramid-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    top:200px;
    left:0px;
    margin-left:-100px;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 100px;

}

@media (max-width: 600px) {
  .pyramid-wrap {
     -webkit-transform: scale(0.5);
  }
}

.pyramid-rotate {
    position: relative;
    width: 200px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin 10s infinite linear;
}

.face {
    position: absolute;
    border: 100px solid transparent;
}

.face img{
 height: 100px;
 position:relative;
 top:150px;
}

.front {
    bottom: -25px;
    border-bottom: 200px solid black ;
    opacity: 1.0;
    -webkit-transform: translateZ(115px) rotateX(30deg) translateZ(-22px);
}

.back {
    bottom: -20px;
    border-bottom: 200px solid black;
    opacity:1.0;
    -webkit-transform: translateZ(-25px) rotateY(180deg) rotateX(30deg) translateZ(-30px);
}

.left {
    bottom: -20px;
    left: 75px;
    border-bottom: 200px solid gray;
    opacity:1.0;
    -webkit-transform: rotateY(270deg) translateX(-100px) rotateX(30deg) translateZ(-30px);
    -webkit-transform-origin: center left;
}

.right {
    bottom: -90px;
    right: 150px;
    border-bottom: 200px solid gray;
    opacity: 1.0;
    -webkit-transform: rotateY(-270deg) translateX(102px) rotateX(30deg) translateZ(55px);
    -webkit-transform-origin: top right;
}

.bottom {
    width: 102px;
    height: 102px;
    background: #2d2d2d;
    opacity: 1.0;
    -webkit-transform: rotateX(-90deg) translateY(-200px) rotateY(180deg) translateZ(-7px);
  -webkit-transform-origin:top center;
}

/*
.shadow {


    width:0;
    height:0;
    box-shadow: 0 0 50px 100px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(90deg) translateZ(-200px) rotateY(180deg) translateX(-100px);

}*/

@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(360deg); }
}




/* Social Media*/

.social-media {
  list-style-type: none;
  display:flex;
  flex-direction: column;
  justify-content: center;
}


.social-media li{
  color:white !important;
  font-size:30px;
  padding:4px;

}

.social-media a{
  color:white !important;
}

.contact-card{
  display: flex;
  justify-content: center

}
















